{% extends 'base.html' %} {% block content %}

<h1>Stamp Country Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ stamp.country }}</span>
        <p>We arrived in the country on {{ stamp.date }}</p>
        <p>
          The entry stamps in {{ stamp.country }} are {{ stamp.color }} and in
          the shape of a {{ stamp.shape }}.
        </p>
      </div>
    </div>

    <div class="card-action">
      <a href="{% url 'stamps_update' stamp.id %}">Edit</a>
      <a href="{% url 'stamps_delete' stamp.id %}">Delete</a>
    </div>
  </div>

  <div class="col s6">
    <form action="{% url 'add_weather' stamp.id %}" method="post">
      {%csrf_token%} {{weather_form.as_p}}
      <input type="submit" class="btn" value="Add Weather" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weather</th>
        </tr>
      </thead>
      <tbody>
        {% for weather in stamp.weather_set.all %}
        <tr>
          <td>{{weather.date}}</td>
          <td>{{weather.get_weather_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />
<div class="row">
  <h3>The attractions I visited in {{ stamp.country }}</h3>
  {%for attraction in stamp.attractions.all%}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        I visited {{ attraction.title }}, which is a {{ attraction.kind }}
      </span>
    </div>
  </div>
  {% empty %}
  <h5>No sightseeing this time :(</h5>
  {% endfor %}
</div>

<div class="col s6">
  <h3>Available Attractions</h3>
  {% if attractions.count %} {% for attraction in attractions.all %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        {{attraction.title}}, {{attraction.kind}}
      </span>
    </div>
    <div class="card-action">
      <form
        action="{% url 'assoc_attraction' stamp.id attraction.id %}"
        method="post"
      >
        {% csrf_token %}
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </div>
  {% endfor %} {% else %}
  <h5>I already visited all these attractions in {{stamp.country}}</h5>
  {% endif %}
</div>

<script>
  var dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  var selectEl = document.getElementById("id_weather");
  M.FormSelect.init(selectEl);
</script>

{% endblock %}
